<ion-content class="covid-home">
  <div class="covid-home__title">Lineas de atención</div>
  <STYLE>A {text-decoration: none;} </STYLE>
  <div class="content-summary">
    <div class="content-summary__icon-global"></div>

    <div class="content-summary__detail__item">
      <div class="content-summary__detail__item__title">
        Secretaría de salud Cundinamarca
      </div>
      <a
      href="tel:{123}"
      class="content-summary__detail__item__total"
    >123</a>
    </div>
  </div>

  <div class="content-summary">
    <div class="content-summary__icon-global"></div>

    <div class="content-summary__detail__item">
      <div class="content-summary__detail__item__title">NUEVA EPS</div>

      <a
        href="tel:{3077022}"
        class="content-summary__detail__item__total"
      >307 70 22</a>
    </div>
  </div>

  <div class="content-summary">
    <div class="content-summary__icon-global"></div>

    <div class="content-summary__detail__item">
      <div class="content-summary__detail__item__title">COMPENSAR EPS</div>
      <a
      href="tel:{3077124}"
      class="content-summary__detail__item__total"
    >307 71 24</a>
    </div>
  </div>

  <div class="content-summary">
    <div class="content-summary__icon-global"></div>

    <div class="content-summary__detail__item">
      <div class="content-summary__detail__item__title">FAMISANAR LTDA - CAFAM</div>
      <a
      href="tel:{6531387}"
      class="content-summary__detail__item__total"
    >653 13 87</a>
    </div>
  </div>


  <div class="content-summary">
    <div class="content-summary__icon-global"></div>

    <div class="content-summary__detail__item">
      <div class="content-summary__detail__item__title">SALUD TOTAL EPS</div>
      <a
      href="tel:{3139888}"
      class="content-summary__detail__item__total"
    >313 98 88</a>
    </div>
  </div>
</ion-content>
