<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <div class="bar__home-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <div class="bar__hospital-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <div class="bar__global-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <div class="bar__news-paper-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <div class="bar__phone-icon"></div>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
