<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Prevención</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="prevencion__fondo">
    <div class="prevencion__fondo__primer">
      <div class="recomendaciones__primer__wash-hands">

        <div class="recomendaciones__primer__wash-hands__image"></div>
        <div class="recomendaciones__primer__wash-hands__label">Lávate las manos</div>

      </div>
      <div class="recomendaciones__primer__wear-mask-icon">

        <div class="recomendaciones__primer__wear-mask-icon__image"></div>
        <div class="recomendaciones__primer__wear-mask-icon__label">Usa tapabocas</div>

      </div>
    </div>
    <div class="prevencion__fondo__segundo">
      <div class="recomendaciones__segundo__family-icon">

        <div class="recomendaciones__segundo__family-icon__image"></div>
        <div class="recomendaciones__segundo__family-icon__label">Cuida a los más vulnerables</div>

      </div>
      <div class="recomendaciones__segundo__home-icon">

        <div class="recomendaciones__segundo__home-icon__image"></div>
        <div class="recomendaciones__segundo__home-icon__label">Quédate en casa</div>

      </div>
    </div>
      
  </div>
  
</ion-content>
