<ion-content class="covid-sint">
  <div class="covid-sint__title">Sintomas</div>
  <div class="covid-sint__contenedor_principal">
    <div class="covid-sint__contenedor_principal__imagen"></div>
  </div>
  <div class="covid-sint__contenedor_secundario">
    <div class="covid-sint__row">
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_5"> </div>
        </div>
        <div class="covid-sint__row__col__subtitle">FIEBRE</div>
      </div>
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_6"> </div>
        </div>
        <div class="covid-sint__row__col__subtitle">TOS SECA</div>
      </div>
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_7"> </div>
        </div>
        <div class="covid-sint__row__col__subtitle">DOLOR DE</div>
        <div class="covid-sint__row__col__subtitle">GARGANTA</div>
      </div>
    </div>
    <div class="covid-sint__row">
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_8"> </div>
        </div>
        <div class="covid-sint__row__col__subtitle">RESPIRATORIOS</div>
      </div>
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_9"> </div>
        </div>
        <div class="covid-sint__row__col__subtitle">CONGESTION</div>
        <div class="covid-sint__row__col__subtitle">NASAL</div>
      </div>
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_10"> </div>
        </div>
        <div class="covid-sint__row__col__subtitle">DIARREA</div>
      </div>
    </div>
  </div>
</ion-content>
